:root {
  --primari-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --first-bcg-color: #2f303a;
  --second-bcg-color: #f5f4fa;
  --link-color: #2196f3;
  --third-text-color: rgba(255, 255, 255, 0.6);
  --first-logo-color: #2196f3;
  --second-logo-color: #000000;
}

body {
  width: 1600px;
  height: 2349px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: var(--primari-text-color);

  margin: 0 auto;
}

/* header */

.header-content {
}

.header-content .logo {
  margin-top: 24px;
  margin-bottom: 25px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--second-logo-color);
}

.logo-web {
  color: var(--first-logo-color);
}

.header-link,
.contact-link {
  margin-top: 32px;
  margin-bottom: 32px;
  list-style: none;
}

.header-link {
  padding-left: 43px;
}

.contact-link {
  padding-left: 281px;
}

.header-content,
.header-nav,
.header-link,
.contact-link {
  display: flex;
}

.header-content {
  padding-left: 215px;
  padding-right: 215px;
}

.header-content .link:hover,
.header-content .link:focus {
  color: var(--link-color);
}

.header-link .link {
  margin-left: 50px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.header-link .link.current {
  color: var(--link-color);
}

.contact-link .link {
  margin-left: 50px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primari-text-color);
}

/* main */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* portfolio buttons */

.buttons {
  list-style: none;
}

.buttons .button {
  cursor: pointer;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--second-bcg-color);
  color: var(--title-text-color);
}

.buttons .button:hover,
.buttons .button:focus {
  background-color: var(--link-color);
  color: var(--secondary-text-color);
}

/* projects */

.project-list {
  list-style: none;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;
}

/* title*/

.hero {
  background-color: var(--first-bcg-color);
}

.hero .hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.hero .hero-button {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 188% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--link-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* skills */

.skill-list {
  padding-top: 94px;
  padding-left: 215px;
  padding-right: 185px;
  display: flex;
  list-style: none;
}

.skill-text,
.skill-title {
  margin-right: 30px;
}

.skill-list .skill-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.skill-list .skill-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* our work */

.work {
  padding: 94px 0;
  padding-left: 215px;
  padding-right: 185px;
}

.work .work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.work-image {
  margin-right: 30px;
}

.work-list {
  margin-top: 50px;
  display: flex;
  list-style: none;
}

/* our team */

.team {
  background-color: var(--second-bcg-color);
}

.team .team-list {
  display: flex;
  list-style: none;
  padding-left: 215px;
  padding-right: 185px;
  padding-bottom: 94px;
}

.team-worker {
  background-color: var(--secondary-text-color);
  margin-right: 30px;
}

.team .team-title {
  padding-top: 94px;
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team .team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team .team-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
}

/* footer */

.footer-link {
  padding: 0px;
  list-style: none;
}

.footer-link .link:hover,
.footer-link .link:focus {
  color: var(--link-color);
}

.addres {
  padding-top: 20px;
  padding-bottom: 51px;
  font-style: normal;
}

.footer-link .link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 9px;
}

.map-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  padding-bottom: 9px;
}

.map-link:hover,
.map-link:focus {
  color: var(--link-color);
}

.footer-content {
  padding-top: 60px;
  padding-left: 215px;
  background-color: var(--first-bcg-color);
}

.footer-content .logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-decoration: none;
}
